html{
  background-color: hwb(295 0% 87%); /* Define a cor de fundo do menu */
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  list-style-type: none; /* Remove os marcadores de lista */
  margin: 0;
  padding: 0;
  background-color: hwb(0 95% 5%); /* Define a cor de fundo do menu */
  border-radius: 10px;
}

.menu li {
  display: inline-block; /* Faz com que os itens de menu fiquem um ao lado do outro */
}

.menu li a {
  display: block; /* Define os links como elementos de bloco para ocuparem todo o espaço horizontal disponível */
  padding: 8px 16px; /* Adiciona espaçamento interno aos links */
  text-decoration: none; /* Remove a decoração de texto padrão (sublinhado) */
  color: #333; /* Define a cor do texto dos links */
}

.menu li a:hover {
  background-color: #550469; /* Define a cor de fundo ao passar o mouse sobre os links */
  color: #fff; /* Define a cor do texto ao passar o mouse sobre os links */
  border-radius: 10px;
}

.menuloja{
  float:right;
}


/* DIV DO FORMULÁRIO */
.formulario{
  float: left;
  margin-left: 10%;
}

.profile{
float: right;
margin: 7px 5px 0 0;
}

/* PADRONIZAÇÃO DA TAG FORM */
form{
  background-color: rgb(205, 191, 211);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  width: 300px;
}

input{
  background-color: rgb(205, 191, 211);
  border-radius: 3px;

}

input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="decimal"],
  input[type="date"],
  input[type="file"],
  textarea {
    background-color: #e0dceb;
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    resize: none;
    
  }

/* ESTILO DAS TABELAS*/

table {
  border-collapse: collapse;
  text-align: center;
  color: #eee;
  text-decoration: #bbb0be;
  width: 75%;
  margin:auto;
}
.div-form {
  padding-top: 10em;
  
}
.div-form input {
  border: 2px solid #550469;
  border-radius: 10px;
}
.div-form #btn {
  border: 2px solid #000;
  padding: 12px 16px;
  border-radius: 15px;
  color:#fff;
  background-color: #550469;
  transition: 1s;
  margin-left: 68%;
  cursor: pointer;
}
.div-form #btn:hover {
  border:2px solid #550469;
  color: #000;
  background-color: #e0dceb;

}
.div-form h2{
  color: #550469;
  font-weight: bold;
}
.div-form #MostrarSenha{
  position: absolute;
  margin-left: 260px;
  margin-top: -60px;
  cursor: pointer;
}
.div-form input::placeholder {
  color: #550469;
}
h1{

  color: #e0dceb;
}
p{

  color: #e0dceb;
}

.caixaexclui{
  width: 300px;
  height: 300px;
  float: center;
}


/* IMAGEM DO ALTERA PRODUTO */
.imagem_atual{
  float: right;
  position: absolute;
  margin-top: -30%;
  margin-left: 50%;
  width: 30%;
  height: 40%;
  border-radius: 10px;
}
/*TABELA PARA PRODUTOS */
.div-form2 {
  padding-top: 5em;
  margin-right: 30%;
  
}
.div-form2 input {
  border: 2px solid #550469;
  border-radius: 10px;
}
.div-form2 #btn {
  border: 2px solid #000;
  padding: 12px 16px;
  border-radius: 15px;
  color:#fff;
  background-color: #550469;
  transition: 1s;
  margin-left: 75%;
  cursor: pointer;
}
.div-form2 #btn:hover {
  border:2px solid #550469;
  color: #000;
  background-color: #e0dceb;

}
#imagem-div-h2{
  color: #ccc;
  position: absolute;
  text-align: center;
  margin-left: 725px; 
  margin-top: -500px;
  
}
.div-form2 h2{
  color: #550469;
  font-weight: bold;
}
.div-form2 #MostrarSenha{
  position: absolute;
  margin-left: 260px;
  margin-top: -60px;
  cursor: pointer;
}
.div-form2 input::placeholder {
  color: #550469;
}
/* FORM DO ALTERA PRODUTO */
.visualizaproduto{
    background-color: rgb(205, 191, 211);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    margin-left: 10px;
    padding: 20px;
    width: 500px;
  }

  .finalizabotao
  {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: smaller;
  }